# Python
__pycache__/
*.py[cod]
env/
# misc notes
misc/
# Jupyter
.ipynb_checkpoints/
# Heavy outputs are tracked by DVC or stay off-git
subd-model-runs/const-vc/run-inputs/run*/inputs
subd-model-runs/const-vc/run-outputs/
subd-model-runs/const-vc/analysis/figs/
subd-model-runs/const-vc/analysis/prev/figs/
subd-model-runs/ramped-vc/run-inputs/run*/inputs
subd-model-runs/ramped-vc/run-outputs/
subd-model-runs/ramped-vc/analysis/figs/
subd-model-runs/ramped-vc/analysis/prev/figs/
*.h5
*.nc
*.csv
*.txt
