# Python
__pycache__/
*.py[cod]
env/
# misc notes
misc/
# Jupyter
.ipynb_checkpoints/
# Heavy outputs are tracked by DVC or stay off-git
subd-model-runs/initial-structures
subd-model-runs/run-outputs/run*/
subd-model-runs/run-outputs/analysis/figs
subd-model-runs/run-outputs/analysis/run*
*.h5
*.nc
*.csv
